/******* About *******/
#about h1 {
	font-size: 3em;
	font-family: cursive;
}
#about img {
	float: left;
	margin: 3em 1em 1.5em 2em;
	border-radius: 3px;
	box-shadow: 2px 2px 9px 0 black;
}
#about p {
	font-size: 1.3em;
	margin: 1em;
}


/******* Locations *********/
#location-list img {
	float: left;
	margin: 0.8em 0.5em 0.8em 0;
}
#location-list h3 {
	margin-top: 0.8em;
	margin-bottom: 0;
}
#location-list p {
	margin: 0.2em 0;
}
#location-list i {
	display: block;
}


/******* Feedback *************/
#feedback-modal ul {
	width: 90%;
	margin: 30px auto 20px;
	padding: 0;
	list-style-type: none;
}
#feedback-modal ul label {
	display: block;
	width: 50%px;
	padding: 0 5px 0 0;
}
#feedback-modal ul input {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 26px;
	vertical-align: middle;
	border: 1px solid #e7e7e7;
	padding: 5px;
	margin: 5px 0 10px;
}
#feedback-submit,
#feedback-cancel {
	display: block;
	margin: 0 auto 20px;
	text-align: center;
	font-weight: bold;
	width: 90%;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	background-color: #015991;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}
#feedback-cancel {
	margin-bottom: 30px;
	background-color: #929394;
}