form, input, select, button {
    font-size: 1.2em;
}
input[type=range] {
    width: 80%;
}
output {
    color: blue;
    font-size: 1.2em;
    position: relative;
    top: -2px;
    left: 10px;
}
form > div {
    padding: 0.5em;
}
form label {
    display: block;
    margin: 0.5em 0 0.3em 0;
}
form > div button {
    width: 100%;
}